td {
    background-color: #DDD;
    width: 40px;
    height: 40px;
}
td.cell_miss {
    background-color: blue;
}
td.cell_hit {
    background-color: red;
}

td.cell_mark {
    text-align: center;
}

td.cell_mark::after {
    content:"X"
}